$gray:#706D6D;
$Black:#000000;








//Font Family 
// font-family: 'Kristi', cursive;
// font-family: 'Poppins', sans-serif;
//font-family: Arial, Helvetica, sans-serif;

$Kristi: 'Kristi', cursive;
$Poppins: 'Poppins', sans-serif;
$Arial: Arial, Helvetica, sans-serif;